---
name: Docker

on:
  pull_request:
  push:
    branches:
      - main
    tags:
      - "v*"

permissions:
  contents: read
  packages: write

jobs:
  docker:
    name: Docker
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: MCVS Docker
        uses: schubergphilis/mcvs-docker-action@v0.9.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          images: schubergphilis/gitlab-runner-autoscaler
          push-to-container-registry: dockerhub
          dockerhub-username: ${{ secrets.DOCKERHUB_USERNAME }}
          dockerhub-token: ${{ secrets.DOCKERHUB_TOKEN }}
          dockle-accept-key: TARGETARCH,TARGETOS,PATH,--user,--chmod,aws-cli,maintainer
